<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>


  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="facebookSettings" type="Facebook.FacebookConfigurationSection" />
  </configSections>
  <connectionStrings>
    <add name="LifeTube.Properties.Setings.Connstring" connectionString="Data Source=173.248.170.159, 1533;Initial Catalog=LifeTube;Persist Security Info=True;User ID=LifeTubeAdmin;Password=zxcvb89" />
    <add name="LifeTubeEntities" connectionString="metadata=res://*/Models.LifeTube.csdl|res://*/Models.LifeTube.ssdl|res://*/Models.LifeTube.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=173.248.170.159, 1533;initial catalog=LifeTube;user id=LifeTubeAdmin;password=zxcvb89;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_46167_lifetubeEntities" connectionString="metadata=res://*/Models.LifeTubeEntities.csdl|res://*/Models.LifeTubeEntities.ssdl|res://*/Models.LifeTubeEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s08.winhost.com;initial catalog=DB_46167_lifetube;persist security info=True;user id=DB_46167_lifetube_user;password=shutter123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LifeTubeEntities1" connectionString="metadata=res://*/Models.LifeTubeEntities.csdl|res://*/Models.LifeTubeEntities.ssdl|res://*/Models.LifeTubeEntities.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;173.248.170.159, 1533&quot;;initial catalog=LifeTube;persist security info=True;user id=LifeTubeAdmin;password=zxcvb89;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="YouTubeAPIKey" value="AI39si4HQWgqWv9J2Pajuu9qREfAWLeekgGqqlJooreVU14DMPdVRzLiivn2_SCV6w-AZdvvYIe8f6rBjnSpdnPOF5YcBYtPkA" />
    <add key="YouTubeUsername" value="sarmin@mtxbd.com" />
    <add key="YouTubePassword" value="mtxbd123" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="Microfoft.Data.Tools.VSXmlDesignerBase, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="facebookredirect.axd" verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="sarmin@mtxbd.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="sarmin@mtxbd.com" password="mtxbd123" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source= 173.248.170.159, 1533 ;Initial Catalog=LifeTube;User ID=LifeTubeAdmin ;Password=zxcvb89;Integrated Security=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <facebookSettings appId="435567116484698" appSecret="ca5f010bb5a0ccd080cb2d47c6d41f88" />


  <system.diagnostics>
    <sources>
      <source name="WNSRecipe" switchValue="Off">
        <listeners>
          <!--                                     
            Uncomment one or more entries in this section or add your own custom trace listeners to enable trace logs from the WNS Recipe. Note 
            that some trace listeners in this section may require additional configuration steps such as configuring output file location, setting 
            file permissions, creating event sources, etc. For additional information on trace listener configuration, please refer to 
            http://msdn.microsoft.com/en-us/library/ff664708.aspx and http://msdn.microsoft.com/en-us/library/4y5y10s7.aspx.
          -->
          <!-- Windows Azure Log -->
          <!--<add name="Azure"    type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
          <!-- Windows Event Log -->
          <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="WNS Recipe Notifications"/>-->
          <!-- Delimited text file -->
          <!--<add name="LogFile"  type="System.Diagnostics.DelimitedListTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="[TRACE FILE NAME (e.g. c:\temp\sampleDelimitedFile.txt)]" />-->
          <!-- XML file -->
          <!--<add name="XmlFile"  type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="c:\temp\sampleLogFile.xml" />-->
          <!-- Console -->
          <!--<add name="Console"  type="System.Diagnostics.ConsoleTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" traceOutputOptions="None"/>-->
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>