@{
    ViewBag.Title = "Profile";
}

<div id="content">
			<div class="section">

<p>Welcome @ViewBag.Name! Your Facebook ID is @ViewBag.Id.</p>
@Html.ActionLink("Logout From Facebook","FacebookLogoff","FacebookLogin");
</div>
</div>
